.checkbox-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 22px;
  height: 22px;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:checked+span svg {
      opacity: 1;
      animation: bounceIn .5s forwards;
    }
  }

  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #737373;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      opacity: 0;
      transform: scale(0.5);
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}