.App {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  &.light {
    color: #555;
    background: #fff;
  }

  &.dark {
    color: #e2e2e2;
    background: #1f1f1f;
  }
}

.main-container {
  h1 {
    padding: 1rem 0;
  }

  .todo-list {
    margin-top: 1rem;
  }

  .todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #363636;
    padding:7.5px 0;
    margin-bottom: 10px 0;
    .content {
      margin-left: 15px;
      p {
        margin-bottom: 0;
      }
      .text{
        margin-bottom: .5rem;
      }
      .time{
        margin-top: 5px;
        font-size: 12px;
      }
    }
    &.status-completed .content .text {
      text-decoration: line-through;
    }
  }
  
}